.loading-indicator {
    display: inline-flex;
    padding: 0.429em 1.429em;
    position: relative;
    top: -5px;
}

.loading-indicator span {
    padding-top: 2px;
    padding-left: 10px;
}

.loading-indicator .spinner {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #285f8f;
    border-right: 3px solid #285f8f;
    border-bottom: 3px solid #285f8f;
    border-left: 3px solid rgb(134, 158, 223);
    width: 17px;
    height: 17px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}  
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
