.days-combobox {
    max-height: 26px;
}

.days-combobox .ui-inputtext{
    font-size: 12px;
    border: 1px solid #cccccc;
}


.days-combobox .inputbox.disabled {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #eeeeee;
    cursor: default;
}

.days-combobox .inputbox {
    cursor: pointer;
    height: 24px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    width: 100%;
    padding-left: 5px;
    border-radius: 3px;
    color: #292B2C;
}

.days-combobox .inputbox:focus {
    outline:none !important;
    border: 1px solid #337ab7;
}

.days-combobox .combo-icon {
    line-height: inherit;
    color: #777777;
    background: none;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    position: relative;
    top: .5em;
    left: -2px;
}

.days-combobox .down-arrow {
    float: right;
    cursor: pointer;
}

.days-combobox .remove-icon {
    color: #919191;
    float: right;
    cursor: pointer;
}

.days-combobox.active .remove-icon {
    top: -1.8em;
}

.days-combobox.active .down-arrow {
    color: #337ab7;
    top: -1.6em;
}

.days-combobox.active .combo-icon {
	top: -1.8em;
}

.days-combobox .input-container .inputbox::placeholder,
.days-combobox .input-container .inputbox.placeholder {
    color: #C3B1BF;
    font-size: 12px;
}

.days-combobox .input-container .inputbox.placeholder::placeholder {
    color: #292B2C;
}

.input-container {
    position: relative;
}

.input-container input {
    background: transparent;
    border: 1px solid #999;
	width: 100%;
}

.input-container input:valid + .placeholder {
    display: none;
}

.input-container .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: #898989;
    font-size: 12px;
    padding-top: 6px;
    padding-left: 10px;
    padding: 0.429em 0.857em;
}

.input-container .placeholder::before {
    content: attr(data-placeholder);
    pointer-events:none;
    vertical-align:middle;
}

.days-combobox.active .input-container .placeholder::before {
    color: #C3B1BF;
}

.days-combobox .input-container .placeholder.mandatory::after {
    content: " *";
    color: red;
}

.days-combobox .drop-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: white;
    width: 16.2%;
    border: solid 1px lightgray;
}
.days-combobox .remove-icon {
    color: #919191;
    margin: 0 0px;
    float: right;
    cursor: pointer;
}

.days-combobox .drop-menu.shadow {
    webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid #cccccc;
}

.days-combobox .drop-menu.show {
    display: inline-block;
    width:100%;
}

.days-combobox {
    display: inline-block;
    position: relative !important;
    width:100%;
}
.days-combobox .drop-menu .menu-section {
    border-bottom: solid 1px #dddddd;
}

.days-combobox .drop-menu .menu-section.all-check {
    padding: 0.429em 1.429em;
    background-color: #f5f5f5;
    margin-bottom: .3em;
    width: 100%;
}

.days-combobox .drop-menu .menu-section .error {
    color: red;
    text-align: center;
    font-size: 11px;
    padding: 0.429em 1.429em;
}

.days-combobox .drop-menu .menu-section a {
    display: block;
    margin-top: 10px;
}

.days-combobox .drop-menu .menu-section:last-of-type {
    border-bottom: none;
}

.days-combobox .drop-menu .menu-section label {
    color: #C3B1BF;
    text-transform: uppercase;
}

.days-combobox .drop-menu .menu-section .check-options {
    margin: 0 0 0 0;
    list-style-type: none;
    padding: 0;
    max-height: 210px;
    overflow: hidden;
    overflow-y: auto;
}

.days-combobox .drop-menu .menu-section .check-options.inner-shadow {
    box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
}

.days-combobox .drop-menu .menu-section .check-options li {
    margin-bottom: 5px;
    padding: 0.429em 1.429em;
    display: flex;
}

.days-combobox .drop-menu .menu-section .check-options li.group {
    font-weight: bold;
}

.days-combobox .drop-menu .menu-section .check-options li.last-group {
    overflow: hidden;
    border-bottom: inset 1px #dddddd;
    padding-bottom: 10px;
}

.days-combobox .drop-menu .menu-section .check-options li span {
    margin: 2px 0 0 5px;
}

.days-combobox .drop-menu .menu-section .check-options li:focus,
.days-combobox .drop-menu .menu-section .check-options li:active,
.days-combobox .drop-menu .menu-section .check-options li:hover {
    outline: none !important;
    background-color: #f5f5f5;
    color: #292B2C;
    cursor: pointer;
}

.days-combobox .drop-menu .menu-section .check-options li:first-of-type {
    margin-top: 5px;
}

.days-combobox .drop-menu .menu-section .check-options li.busy-indicator {
    text-align: center;
}

.days-combobox .drop-menu .menu-section .check-options li.busy-indicator .fa-spinner {
    font-size: 17px;
    color: #285f8f;
}

.days-combobox .drop-menu .menu-section .check-options li.busy-indicator .message {
    font-size: 10px;
}

p-checkbox.focus-option {
    height: 20px;
}

